$primary: #c8553d; // Header - blood orange
$secondary: #8FB7B7; // Green container
$tertiary: #FFE2D6; // Cream background
$offwhite: #FAF1EF; // All Recipe container
$instruction-page: #FFF8F3; // Offwhite for instructions
$nav-button-dark: #0B3954; // Dark navy nav buttons
$nav-button-hover: #0668a0;
$nav-button-active: #c8553d;
$filters: #13577f; // Background color for recipe filters
$add-recipe-hover: #5F9595;
$add-recipe-active: #EFB87E;
$form-button: #15c1bc; // Green for add recipe (not necessary)
$ingredients: #CD523D; // Background color for ingredients
$cost: #4ba881; // Background color for cost
$error: #a53f30; // Background color for search error
