body {
  color: black;
  height: 1vh;
  width: 100%;
  background-color: #FFE3D6;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: .3rem;
  padding-top: 1rem;
}

nav > button {
  background-color: #0B3954;
  color: white;
}

nav > button:hover {
  background-color: #0668a0;
}

nav > button:active {
  background-color: #c8553d;
}

button {
  height: 2.5rem;
  width: auto;
  padding: 0rem 1rem 0rem 1rem;
  border: 0px;
  border-radius: .5rem;
  cursor: pointer;
}

h1, h3 {
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'STIX Two Math', serif;
}

h4 {
  margin: 0px;
}

header,
footer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #c8553d;
  width: 100%;
}

footer {
  position: absolute;
  height: 3rem;
  background-color: #c8553d;
  bottom: -13%;
  margin-bottom: -2rem;
  overflow: hidden;
}

.title-container {
  text-align: center;
  color: white;
  background-color: #c8553d;
  margin: 0rem;
  padding: .1rem 0rem 1rem 0rem;
  border: 0px;
}

.search-field-container {
  position: absolute;
  left: 5%;
  top: 2.2%;
}

.featured-recipes-title > h1 {
  position: static;
  font-size: 2.5rem;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
  padding: 0px;
  border: 0px;
}

.filter-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #13577f;
  color: white;
}

.filter-select > label {
  padding: 0rem .5rem 0rem .5rem;
}

.other-options-2,
.other-options-3,
.other-options-4 {
  margin-right: .8rem;
}

.meals {
  padding-right: 1rem;
  font-weight: bold;
}

.sidebars {
  display: inline-flex;
  background-color: #8FB7B7;
  margin: 0px;
  border: 0px;
}

aside > button {
  margin-top: 2rem;
  padding: 0px;
  border: 0px;
  width: 3rem;
  height: 3rem;
}

.left-sidebar {
  display: inline-block;
  position: absolute;
  left: 2rem;
  width: 14%;
  height: auto;
  padding-top: 2rem;
  z-index: 2;
}

.left-sidebar > button {
  height: 3rem;
  flex-direction: column;
}

.left-sidebar > button:hover {
  color: white;
  background-color: #5F9595;
}

.left-sidebar > button:active {
  color: white;
  background-color: #EFB87E;
}

.right-sidebar {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 1rem;
  width: 10%;
  height: auto;
  z-index: 2;
}

.login-button {
  position: absolute;
  top: 1.5%;
  right: 5%;
  color: black;
  background-color: #FFF8F3;
  height: auto;
  width: 5rem;
  padding: .5rem 0rem .5rem 0rem;
  cursor: default;
}

.scroll-arrow {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  z-index: 3;
}

.right-arrow {
  position: absolute;
  top: 225%;
}

.content-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #8FB7B7;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 32rem;
  z-index: 0;
}

.main-content {
  z-index: 0;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  grid-auto-rows: 10rem;
  justify-content: center;
  margin-top: 1rem;
}

.push-to-back {
  z-index: -1;
}

.bring-forward {
  z-index: 0;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 22rem;
  width: 15rem;
  background-color: #ffffff;
  padding: .3rem;
  border-radius: 1rem;
  margin: 0rem .4rem 0rem .4rem;
  overflow: visible;
  object-fit: fill;
}

.favorite-star {
  position: absolute;
  bottom: 8%;
  right: 8%;
  background-color: white;
}

.mini-recipe > .favorite-star {
  position: static;
  margin: 0% 4% 4% 76%;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-info {
  margin: 3rem .4rem 0rem .4rem;
  position: relative;
}

.recipe-info > h2 {
  position: static;
  margin-top: 20%;
  text-align: center;
}

.mini-recipe > button {
  right: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  line-height: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid black;
  background-color: #fff8f4;
  top: -12%;
  right: 9.5%;
  z-index: 2;
}

.login-form > button {
  margin-top: 1rem;
  height: 2rem;
  width: auto;
  background-color: #b6b5bf;
  color: white;
  cursor: default;
}

.recipe-directions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 23rem;
  width: 70%;
  background-color: #F9F1EE;
  overflow: scroll;
  padding: 2rem;
  border: 1rem solid #F9F1EE;
  border-radius: .5rem;
}

.recipe-directions {
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.recipe-directions > img {
  height: 35%;
  width: auto;
}

.full-recipe {
  padding-bottom: 1rem;
}

.instructions {
  padding-bottom: 2rem;
}

.ingredients {
  color: white;
  background-color: #CD523D;
  padding: 1rem;
  border-radius: .5rem;
  width: auto;
}

.cost {
  color: white;
  background-color: #4ba881;
  padding: .2rem;
  padding-left: 1rem;
  border-radius: .5rem;
}

.login-form > .sign-up-button {
    background-color: #b6b5bf;
}

.login-form > .cancel-login {
  border: 0px;
  background-color: none;
}

.confirm-password {
  display: flex;
  flex-direction: column;
}

.meal-image {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;
  top: 5%;
}

.meal-image > img {
  height: 100%;
  width: 80%;
  padding: 0rem;
  margin: 0rem;
}

.all-recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  height: 28rem;
  width: 55rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 0px;
  border-radius: 1rem;
  top: 0%;
  left: 20%;
  right: 20%;
  background-color: #f9f1ef;
  padding: .5rem;
}

.all-recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 13rem);
  grid-auto-rows: 20rem;
}

.mini-recipe {
  display: inline-table;
  height: 12rem;
  width: 8rem;
  padding: .5rem;
  margin: .3rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
}

.mini-recipe > img {
  height: 7rem;
  width: auto;
  flex-flow: row wrap;
}

.filtered-recipe-grid {
  flex-direction: row;
  /* display: grid; */
  display: block;
  align-items: center;
  width: 70%;
}

.filtered-recipe-grid > img {
  /* display: grid; */
  height: 20%;
  width: 20%;
  padding: .5rem;
  margin: .3rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
}

.full-recipe-container {
  justify-content: center;
  height: auto;
  width: 70%;
  padding: 1rem;
  overflow: scroll;
  border-radius: 1rem;
  background-color: #fff8f4;
}

.add-recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: auto;
}

.add-recipe {
  position: absolute;
  height: auto;
  width: 70%;
  padding: 2rem;
  background-color: #FFF8F3;
  border: 1px solid black;
  z-index: 1;
}

.add-recipe > input {
  width: 40%;
}

.add-recipe > h3 {
  /* margin-top: .2rem; */
}

.add-recipe > .plus-button-container {
  margin-left: .5rem;
  height: 2rem;
  width: auto;
  color: white;
  background-color: #15c1bc;
}

.add-recipe > .submit-recipe {
  background-color: #15c1bc;
  color: white;
  margin-top: .2rem;
}

.popup-container {
  display: block;
}

#popup {
  position: fixed;
  height: 10%;
  width: 40%;
  border-radius: 30px;
  text-align: center;
  font-size: 2.2vh;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#popup p{
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.gold-popup {
  background-color: rgba(218, 158, 29, 0.726);
}

.red-popup {
  background-color: rgba(218, 73, 29, 0.726);
}

.green-popup {
  background-color: rgba(20, 135, 43, 0.726);
}

.blue-popup {
  background-color: rgba(29, 98, 218, 0.726);
}

.hidden {
  display: none;
}

.favorite-star{
  background-color: #eeeeee;
  color : rgb(247, 115, 115);
}
.is-favorite{
  background-color:rgb(255, 111, 111);
  color : #acacac;
}


.home-title{
  font-size: 40px;
}

.wrapper {
  min-height: 100%;
}
