body {
  background-color: darkgrey;
  color: black;
  height: 100%;
  width: 100%;
  background-color: #FFE3D6;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: .3rem;
  padding-top: 1rem;
}

nav > button {
  background-color: #0B3954;
  color: white;
}

button {
  height: 1.5rem;
  width: auto;
  padding: 0rem 1rem 0rem 1rem;
  border: 0px;
  border-radius: .5rem;
  cursor: pointer;
}

h1 {
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'STIX Two Math', serif;
}

h4 {
  margin: 0px;
}

.hidden {
  display: none;
}

.header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #c8553d;
  /* padding-top: 1rem; */
}

.title-container {
  text-align: center;
  color: white;
  background-color: #c8553d;
  margin: 0rem;
  padding: .1rem 0rem 1rem 0rem;
  border: 0px;
}

.sidebars {
  display: inline-flex;
  /* position: relative; */
  background-color: #8FB7B7;
  margin: 0px;
  border: 0px;
}

aside>button {
  margin-top: 2rem;
  padding: 0px;
  border: 0px;
  width: 3rem;
  height: 3rem;
}

.left-sidebar {
  display: inline-block;
  position: absolute;
  left: 1rem;
  width: 14%;
  height: 100%;
  padding-top: 2rem;
}

.left-sidebar > button {
  height: 3rem;
  flex-direction: column;
}

.left-sidebar > h1 {
  font-size: 600;
}

.right-sidebar {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 1rem;
  width: 10%;
  height: 100%;
  top: 32%;
}

.login-button {
  position: absolute;
  top: 2%;
  right: 5%;
}

.scroll-arrow {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8rem;
  width: 5rem;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8FB7B7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-content {
  background-color: #588b8b;
  height: 40rem;
  width: 40rem;
}

.recipe-grid {
  display: flex;
  flex-direction: row;
}

.recipe {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  text-align: center;
  position: relative;
  height: 22rem;
  width: 15rem;
  background-color: #ffffff;
  padding: .5rem;
  border-radius: 1rem;
  margin: 0rem .4rem 0rem .4rem;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-info {
  margin: 0rem .4rem 0rem .4rem;
}

.meal-image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: baseline;
  margin-top: -25%;
}

.meal-image > img {
  height: 9rem;
  width: 9rem;
  padding: 0px;
  margin: 0px;
  /* border: 1px transparent black; */
}

.star {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 1;
}
